@import url(reset.css);
body {
		background: #f9f9f7;
}
.container {
	background: #ffffff;
	max-width: 720px;
	margin: 50px auto 0;
	padding: 10px;
	border: 1px solid black;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
}
tr {
	border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    line-height: 28px;
}
.line {
	border-right: 1px solid #d8d8d8;
	text-align: left;
	padding-left: 10px;
}
.flag_country {
	background: url(../images/italy.png) no-repeat;
	height: 16px;
	width: 25px;
	display: block;
	border-radius: 2px;
	float: left;
	margin: 5px 3px 0 0;
	opacity: 0.8; 
	box-shadow: inset 0 0 1px;
}
.table-seria-a a {
	text-decoration: none;
	color: #006699;
}
.score {
	background: #f9f9f7;
}
.matches, .win, .draw, .lose, .goals, .conceded_goals, .score-text {
	color: #006496;
	font-weight: 700;
}
.text-bold {
	font-weight: 900;
}
p {
	margin: 10px auto 0;
	max-width: 1050px;
	font-size: 11px;
}
@media only screen and (max-width : 580px) {
	.hide {
		display: none;
	}
}